:root {
    --div-bg-color1: #DDDDFF;
    --div-bg-color2: #FFF;
}

/* EJERCICIO 1 */
#import {
    color: orange;
}

/* EJERCICIO 6 */
div.bordes {
    margin: 10px 15px;
    width: 50%;
}

div.uno {
    border: double 2px black;
    background-color: var(--div-bg-color2);
}

div.dos {
    border: solid 2px red;
    border-top-width: 3px;
    background-color: var(--div-bg-color2);
}

div.tres {
    border: dashed 2px red;
    border-bottom-width: 3px;
    background-color: var(--div-bg-color1);
}

div.cuatro {
    border: ridge 4px aqua;
    background-color: var(--div-bg-color1);
}

div.cinco {
    border: dotted 4px red;
    background-color: blue;
}

div.seis {
    border: dashed 4px black;
    background-color: var(--div-bg-color1);
}

div.siete {
    border: outset 4px;
    border-color: yellow brown olive red;
    background-color: var(--div-bg-color1);
}

div.ocho {
    border: 7px;
    border-style: inset;
    border-color: #FfFF00 #FF00fF #00fFff forestgreen;
    background-color: var(--div-bg-color2);
}

div.nueve {
    border: groove 10px;
    border-color: red blue green aqua;
    background-color: var(--div-bg-color2);
}

/* EJERCICIO 7 */
div#uno-mod {
    margin: auto;
}

div#dos-mod {
    margin-left: auto;
}

div#tres-mod {
    margin-right: auto;
}

div#cuatro-mod {
    margin-left: 100px;
}

/* EJERCICIO 8 */
div#cinco-mod {
    padding: 20px;
}

div#seis-mod {
    padding: 40px 100px;
}

div#siete-mod {
    padding: 10px 20px 30px 40px;
}