* {
    color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 237, 245);
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #023535;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color: #ffffff;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
    line-height: 2rem;
}

.card-cabecera {
    background-color: #015958;
    color: #ffb7a1;
    padding: 1.50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20.5px;
}

.card-contenido {
    background-color: #ffe0d6;
    padding: 1rem !important;
    border-radius: 0 0 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
}

table,
th,
td,
tr {
    border: solid 1px black;
    border-collapse: collapse;
}

td {
    width: 175px;
    text-align: center;
}

#ej3 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table#ej4 tr,
table#ej4 th {
    border: solid 1px yellow;
    border-collapse: collapse;
}

table#ej4 td {
    border: solid 1px red;
    width: 175px;
    text-align: center;
}

p>span#ej5 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

li>strong {
    color: blue;
}

div#ej7>*>a {
    color: magenta;
}

div.ej8>a:first-child {
    text-decoration: none;
}

h1.ej9>strong {
    text-decoration: underline;
}

h3+p {
    color: red;
}

#ejercicio11 {
    color: red;
}

.ejercicio12 {
    color: blue;
}

.ejercicio13 {
    color: blue;
}

h2.ejercicio13 {
    color: green;
}

h3.ejercicio13 {
    color: yellow;
}

a.ejercicio14 {
    color: green;

    &:visited {
        color: olive;
    }

    &:hover {
        color: red;
    }

    &:active {
        color: blue;
    }
}

p.ejercicio15 {
    color: blue !important;
}

p>*.ejercicio15 {
    color: green;
}

p.ejercicio16 {
    color: blue !important;
}

p.ejercicio17::first-line {
    color: blue;
}

p.ejercicio17::first-letter {
    color: red;
}

input.ejercicio18:focus {
    background-color: yellow;
}

ul#ejercicio19 li:first-child {
    font-weight: bold;
}

p.ejercicio20:lang(en) {
    color: red;
}

@media screen and (min-width: 1000px) {

    #container {
        width: 65%;
    }

}