* {
    color: gray;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 237, 245);
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #023535;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color: #ffffff;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
    line-height: 2rem;
}

.card-cabecera {
    background-color: #015958;
    color: #ffb7a1;
    padding: 1.50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20.5px;
}

.card-contenido {
    background-color: #ffe0d6;
    padding: 1rem !important;
    border-radius: 0 0 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
}

table,
th,
td,
tr {
    border: solid 1px black;
    border-collapse: collapse;
}

td {
    width: 175px;
    text-align: center;
}

#ej3 {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table#ej4 tr,
th {
    border: solid 1px yellow;
    border-collapse: collapse;
}

table#ej4 td {
    border: solid 1px red;
    width: 175px;
    text-align: center;
}

p>span#ej5 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

li>strong {
    color: blue;
}

div#ej7>*>a {
    color: magenta;
}

@media screen and (min-width: 1000px) {

    #container {
        width: 65%;
    }

}