
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #37353E;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color:  #ffffff;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
    line-height: 2rem;
}

.card-cabecera {
    background-color: #967979;
    color: #37353E;
    padding: 1.50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-contenido {
    background-color: #dabfbf;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
}

.card-contenido input {
    background-color: transparent;
    border: solid 1px #37353E;
    width: auto;
    padding: 10px;
    color: #37353E;
    border-radius: 50px;
    font-size: 15px;

    &:hover {
        background-color: #37353E;
        color: white;
        transition: .3s;
        cursor: pointer;
    }
}

/*mark {
    background-color: #ffaad0;
}

span {
    color: #e4438b;
    text-decoration: underline double #e4438b;
}*/

@media screen and (min-width: 1000px) {

    #container {
        width: 65%;
    }
    
}