
body {
    background-color: #fff2e1;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #6a4425;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    height: 100vh;
    background-color:  #ffffff;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 5rem 1.5rem 0 1.5rem;
    padding-bottom: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

table, tr, td {
    border-collapse: collapse;
    border: solid 1px #e89090;
}

thead {
    font-size: 25px;
}

ol > li {
    margin: 10px 0 10px 0;
}

li > a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline solid 1px #6a4425;
        color: #6a4425;
        transition: .3s;
    }
}

table {
    background-color: #f1c5c5;
}

table td:nth-child(2) {
    background-color: #dfccb9;
}

#mapa-coordenadas {
    margin-bottom: 50px;
}

.input-group, #btn-buscar-ub {
    visibility: hidden;
    margin: 10px;
}

.input-group input, #btn-buscar-ub {
    border-radius: 50px;
    padding: 5px;
    outline: none;
    border: solid 1px #6a4425;
    background-color: #dfccb9;
    font-size: 15px;

    & > a {
    text-decoration: none;
    color: #6a4425;

        &:hover {
            color: white;
        }
    }
}

#btn-buscar-ub {
    width: auto;
    padding: 10px;
    background-color: transparent;

    &:hover {
        background-color: #6a4425;
        transition: .3s;
    }
}
