
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF2EF;
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #1A2A4F;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color:  #ffffff;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
    line-height: 2rem;
}

.card-cabecera {
    background-color: #F7A5A5;
    color: #1A2A4F;
    padding: 1.50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card-contenido {
    background-color: #ffead5;
    padding: 1rem;
    border-radius: 0 0 20px 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13.5px;
}

.card-contenido table, td, tr {
    border: solid 1px #1A2A4F;
    border-collapse: collapse;
}

.card-contenido td:nth-child(odd) {
    background-color: #fabcbc;
    font-weight: bold;
}

.card-contenido button {
    background-color: transparent;
    border: solid 1px #1A2A4F;
    width: auto;
    padding: 10px;
    color: #1A2A4F;
    border-radius: 50px;
    font-size: 15px;

    &:hover {
        background-color: #1A2A4F;
        color: white;
        transition: .3s;
        cursor: pointer;
    }
}

@media screen and (min-width: 1000px) {

    #container {
        width: 65%;
    }
    
}