body {
    background: #F8FFDB;
    background: linear-gradient(315deg,rgba(248, 255, 219, 1) 50%, rgba(255, 231, 231, 1) 68%, rgba(255, 100, 100, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 10rem 0 10rem 0;
}

form {
    width: 30rem;
    background: transparent;
    backdrop-filter: blur(15px);
    border: solid 5px #FF646449;
    border-radius: 20px;
    font-size: 18px;
    padding: 35px;
}


h1 {
    font-family: "Lexend", sans-serif;
    color: #FF6464;
    font-size: 40px;
    text-align: center;
}

.form-control {
    font-family: "Red Hat Display", sans-serif;
    margin: 25px;
}

input {
    border-radius: 15px;
    padding: 10px;
    border: none;
    width: 15rem;
    background-color: #e4e4e4;

    &::placeholder {
        font-family: "Red Hat Display", sans-serif;
    }

    &:hover {
        background-color: #ff93c294;
        transition-duration: .5s;
    }

    &:focus {
        outline: solid 1px #e4438b;
        background-color: #ffcae1;
        transition-duration: .5s;
    }
}

#btn-envio {
    outline: solid 1px #e4438b;
    background-color: #ffcae1;
    color: #e4438b;
    width: 10.5rem;

    &:hover {
        outline: none;
        background-color: #e4438b;
        color: white;
        transition: .5s;
    }
}