* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f7f8;
    scroll-behavior: smooth;
}

#cabecera {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: #A69383;
    font-size: 22px;
}

#logo {
    margin-right: .55rem;
    width: 55px;
}

#container {
    width: auto;
    background-color: #ffffff;
    margin: 4rem .5rem -.42rem .5rem;
    padding: 1.5rem;
    padding-bottom: 0;
}

.card-ejercicio {
    display: inline;
    border-radius: 10px;
    width: auto;
    margin: 10px;
    line-height: 2rem;
}

.card-cabecera {
    background-color: #F2E4D8;
    color: #729DA6;
    padding: 1.50rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20.5px;
}

.card-contenido {
    background-color: #D8EEF2;
    padding: 1rem !important;
    border-radius: 0 0 20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
}

/* EJERCICIO 2 */
p>*.ejercicio2a {
    font-size: 10em;
}

p>*.ejercicio2b {
    font-size: 10%;
}

p>*.ejercicio2c {
    font-size: 10px;
}

p>*.ejercicio2d {
    font-size: 10mm;
}

/* EJERCICIO 3 */
p>*.ejercicio3normal {
    font-weight: normal;
}

P>*.ejercicio3bold {
    font-weight: bold;
}

p>*.ejercicio3bolder {
    font-weight: bolder;
}

p>*.ejercicio3lighter {
    font-weight: lighter;
}

p>*.ejercicio3lighter {
    font-weight: lighter;
}

p>*.ejercicio3100 {
    font-weight: 100;
}

p>*.ejercicio3200 {
    font-weight: 200;
}

p>*.ejercicio3300 {
    font-weight: 300;
}

p>*.ejercicio3400 {
    font-weight: 400;
}

p>*.ejercicio3500 {
    font-weight: 500;
}

p>*.ejercicio3600 {
    font-weight: 600;
}

p>*.ejercicio3700 {
    font-weight: 700;
}

p>*.ejercicio3800 {
    font-weight: 800;
}

p>*.ejercicio3900 {
    font-weight: 900;
}

/* EJERCICIO 4 */
p>*.ejercicio4italic {
    font-style: italic;
}

p>*.ejercicio4oblique {
    font-style: oblique;
}

/* EJERCICIO 5 */
p>*.ejercicio5normal {
    font-variant: normal;
}

p>*.ejercicio5caps {
    font-variant: small-caps;
}

/* EJERCICIO 6 */
p>*.ejercicio6none {
    text-decoration: none;
}

p>*.ejercicio6underline {
    text-decoration: underline;
}

p>*.ejercicio6overline {
    text-decoration: overline;
}

p>*.ejercicio6linethrough {
    text-decoration: line-through;
}

p>*.ejercicio6blink {
    text-decoration: blink;
}

p>*.ejercicio6inherit {
    text-decoration: inherit;
}

/* EJERCICIO 7 */
.ejercicio7none {
    text-transform: none;
}

.ejercicio7capitalize {
    text-transform: capitalize;
}

.ejercicio7upper {
    text-transform: uppercase;
}

.ejercicio7lower {
    text-transform: lowercase;
}

/* EJERCICIO 8 */
.ejercicio8triple {
    line-height: 3.13;
}

.ejercicio810pts {
    line-height: 10pt;
}

.ejericico8150per {
    line-height: 150%;
}

/* EJERCICIO 9 */
.ejercicio9pos10 {
    text-indent: 10px;

}

.ejercicio9neg20 {
    text-indent: -20px;
}

.ejercicio9pos20per {
    text-indent: 20%;
}

/* EJERCICIO 10 */
.ejercicio10sep5 {
    letter-spacing: 5px;
}

.ejercicio10sep10 {
    letter-spacing: 10px;
}

.ejercicio10sep1 {
    letter-spacing: 1px;
}

.ejercicio10sep05 {
    letter-spacing: 0.5px;
}

/* EJERCICIO 11 */
.Regla-ejercicio11-1 {
    white-space: normal;
}

.Regla-ejercicio11-2 {
    white-space: pre;
}

.Regla-ejercicio11-3 {
    white-space: nowrap;
}

@media screen and (min-width: 1000px) {

    #container {
        width: 65%;
    }

}