body {
    background:
        linear-gradient(217deg, #ff6464e3, transparent 70.71%),
        linear-gradient(127deg, #B3FFAEe3, transparent 70.71%),
        linear-gradient(336deg, #F8FFDBe3, transparent 70.71%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

#contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 10rem 0 10rem 0;
}

form {
    width: 30rem;
    background: #e6cbcb;
    backdrop-filter: blur(15px);
    border: solid 5px #FF646449;
    border-radius: 20px;
    font-size: 18px;
    padding: 35px;
}


h1 {
    font-family: "Lexend", sans-serif;
    color: #FF6464;
    font-size: 40px;
    text-align: center;
}

form {
    font-family: "Red Hat Display", sans-serif;
    margin: 25px;
}

textarea, input {
    border-radius: 15px;
    padding: 10px;
    border: none;
    width: 15rem;
    background-color: #dce0ca;
    font-size: 12px;

    &::placeholder {
        font-family: "Red Hat Display", sans-serif;
        font-size: 13.5px;
    }

    &:hover {
        background-color: #F8FFDB94;
        transition-duration: .5s;
    }

    &:focus {
        outline: solid 1px #FF6464;
        background-color: #ffe7e7;
        transition-duration: .5s;
    }
}

fieldset {
    margin: 10px;
    border: solid 2px #B3FFAEe3;
    border-radius: 25px;
}

#btn-envio {
    margin-top: 15px;
    background-color: #FF6464;
    color: #B3FFAE;
    width: 10.5rem;

    &:hover {
        outline: none;
        background-color: #F8FFDB;
        color: #FF6464;
        transition: .5s;
    }
}